# =========================
# Python bytecode & caches
# =========================
__pycache__/
*.py[cod]
*$py.class

# =========================
# Virtual environments
# =========================
env/
venv/
ENV/
.venv/

# =========================
# Package / build files
# =========================
build/
dist/
*.egg-info/
.eggs/

# =========================
# Installer logs
# =========================
pip-log.txt
pip-delete-this-directory.txt

# =========================
# Unit test / coverage
# =========================
.coverage
.coverage.*
htmlcov/
.tox/
.pytest_cache/
nosetests.xml
coverage.xml

# =========================
# Jupyter Notebook
# =========================
.ipynb_checkpoints

# =========================
# IDEs & Editors
# =========================
.vscode/
.idea/
.spyderproject
.spyproject

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# Environment variables
# =========================
.env
.env.*

# =========================
# Logs
# =========================
*.log
